/arch/**/*.inc linguist-language=C
tests filter=lfs diff=lfs merge=lfs -text
CREDITS.TXT filter=lfs diff=lfs merge=lfs -text
cstool filter=lfs diff=lfs merge=lfs -text
MCFixedLenDisassembler.h filter=lfs diff=lfs merge=lfs -text
xcode filter=lfs diff=lfs merge=lfs -text
COMPILE_MSVC.TXT filter=lfs diff=lfs merge=lfs -text
COMPILE.TXT filter=lfs diff=lfs merge=lfs -text
LEB128.h filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
TODO filter=lfs diff=lfs merge=lfs -text
MathExtras.h filter=lfs diff=lfs merge=lfs -text
MCInstrDesc.c filter=lfs diff=lfs merge=lfs -text
RELEASE_NOTES filter=lfs diff=lfs merge=lfs -text
cmake.sh filter=lfs diff=lfs merge=lfs -text
COMPILE_CMAKE.TXT filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
windowsce filter=lfs diff=lfs merge=lfs -text
capstone.pc.in filter=lfs diff=lfs merge=lfs -text
ChangeLog filter=lfs diff=lfs merge=lfs -text
contrib filter=lfs diff=lfs merge=lfs -text
functions.mk filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
suite filter=lfs diff=lfs merge=lfs -text
MCInst.h filter=lfs diff=lfs merge=lfs -text
SPONSORS.TXT filter=lfs diff=lfs merge=lfs -text
LICENSE_LLVM.TXT filter=lfs diff=lfs merge=lfs -text
make.sh filter=lfs diff=lfs merge=lfs -text
MCInst.c filter=lfs diff=lfs merge=lfs -text
packages filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
MCInstrDesc.h filter=lfs diff=lfs merge=lfs -text
MCRegisterInfo.h filter=lfs diff=lfs merge=lfs -text
msvc filter=lfs diff=lfs merge=lfs -text
cs.c filter=lfs diff=lfs merge=lfs -text
bindings filter=lfs diff=lfs merge=lfs -text
config.mk filter=lfs diff=lfs merge=lfs -text
pkgconfig.mk filter=lfs diff=lfs merge=lfs -text
utils.c filter=lfs diff=lfs merge=lfs -text
arch filter=lfs diff=lfs merge=lfs -text
SStream.c filter=lfs diff=lfs merge=lfs -text
SStream.h filter=lfs diff=lfs merge=lfs -text
MCRegisterInfo.c filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
LICENSE.TXT filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
HACK.TXT filter=lfs diff=lfs merge=lfs -text
cs_priv.h filter=lfs diff=lfs merge=lfs -text
MCDisassembler.h filter=lfs diff=lfs merge=lfs -text
nmake.bat filter=lfs diff=lfs merge=lfs -text
windows filter=lfs diff=lfs merge=lfs -text
utils.h filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
